:root {
  --primary-color: #607d8b;
  --mdc-theme-primary: #455a64;
}

.dark-primary-color {
  background: #455a64;
}
.default-primary-color {
  background: #607d8b;
}
.light-primary-color {
  background: #cfd8dc;
}
.text-primary-color {
  color: #ffffff;
}
.accent-color {
  background: #536dfe;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #757575;
}
.divider-color {
  border-color: #bdbdbd;
}
